* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1vmin; /*takes the minimum size from width or height*/
}

body {
  margin: 0;
  padding: 0;
  background: url(img/solar_farm.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}
/*Navigation & Header*/

nav a {
  text-decoration: none; /*removes underlining links*/
  color: white; /* uses the nearest defined color */
}

nav a:hover {
  color: #9d7a66;
}

.navItem {
  font-size: 3rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav img {
  width: 100%;
  max-width: 30vw;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header .logo {
  width: 90%;
  max-width: 50rem;
}

header h2 {
  font-size: 3rem;
  color: #fff;
}

main {
  padding: 10vw 0;
}

.contact-section {
  display: inline-block;
  width: 70%;
}

.border {
  width: 100px;
  height: 10px;
  background: #ebb383;
  margin: 40px auto;
  border-radius: 15px;
}

.contact-form {
  max-width: 60vw;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #ebb383;
  padding: 20px 40px;
  outline: none;
  color: white;
  transition: .5s;
  cursor: pointer;
  border-radius: 15px;
  font-size: 120%; /*Base font size is usually 14px */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 16px;
}

.contact-form-text:focus {
  box-shadow: 0 0 5px 2px white;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  text-align: center;
  border: 0;
  background: #ebb383;
  padding: 12px 50px;
  border-radius: 15px;
  cursor: pointer;
  transition: .5s;
}

.contact-form-btn:hover {
  background: #f1caa7
}

aside {
  display: inline;
  float: right;
  width: 30%;
  background: #f1caa7;
  padding: 2rem;
  margin-top: 6rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: black;
}

aside h3 {
  font-size: 2.5rem;
}

aside li {
  font-size: 2rem;
}

aside ol {
  padding-left: 2rem;
}

footer {
	background: #f1caa7;
	padding: 2rem;
  margin-left: 5vw;
  max-width: 80vw;
  height: auto;
  text-align: center;
  bottom: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

footer p {
  color: black;
  font-style: italic;
  font-size: 2rem;
}

.cookie{
  cursor: pointer;
  position: fixed;
  padding: 1rem;
  bottom: 0;
  right: 0;
  color: #FFF;
  opacity: .5;
  background-color: orange;
}

/*Responsive*/

  @media only screen and (max-width: 480px) {
    /*For Mobile*/

    .contact-section {
      display: block;
      width: 100%;
    }

    aside {
      display: block;
      float: left;
      width: auto;
      margin: auto;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    footer {
      position: fixed;
      margin-left: 20vw;
    }

  }
