body{
  margin: 0;
  padding: 0;
  background: url(img/solar_farm.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
  line-height: 1.5;
}

nav a {
  text-decoration: none; /*removes underlining links*/
  color: currentColor; /* uses the nearest defined color */
}

nav a:hover {
  color: #9d7a66;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainLogo img{
  width: 60%;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

main p{
  font-size: 1.5vw;
  padding: 2em 6em;
}

main video{
    width: 50%;
    height: auto;
}





@media only screen and (max-width: 1179px) {
  /*For Tablets*/
  ul li{
    display: flex;
    flex-wrap: wrap;
  }

  }

  @media only screen and (max-width: 480px) {
    /*For Mobile*/
    nav{
      display: none;
    }
    header img{
      display: none;
    }

     }

  }
